@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 200, 200, 200;
  --primary: 80, 0, 0;
  --secondary: 209, 213, 219;
  --on-secondary: 0, 0, 0;
  --tertiary: 17, 24, 39;
  --on-tertiary: 255, 255, 255;

  background: rgba(var(--background));
  color: rgba(var(--primary));
}

.dark {
  --background: 41, 37, 36;
  --primary: 168, 162, 158;
  --secondary: 31, 41, 55;
  --on-secondary: 255, 255, 255;
  --tertiary: 75, 85, 99;
  --on-tertiary: 255, 255, 255;

  background: rgba(var(--background));
  color: rgba(var(--primary));
}
